[submodule "dot-config/nvim-scratch"]
	path = dot-config/nvim-scratch
	url = git@github.com:louis-hsu/Neovim-from-scratch.git
[submodule "dot-config/nvim-kickstart"]
	path = dot-config/nvim-kickstart
	url = git@github.com:louis-hsu/kickstart.nvim.git
[submodule "dot-config/nvim-lazyvim"]
	path = dot-config/nvim-lazyvim
	url = git@github.com:louis-hsu/LazyVim_starter.git
[submodule "dot-config/tmux/plugins/tpm"]
	path = dot-config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dot-config/tmux/plugins/nord-tmux"]
	path = dot-config/tmux/plugins/nord-tmux
	url = git@github.com:louis-hsu/nord-tmux.git
[submodule "dot-config/tmux/plugins/tmux-prefix-highlight"]
	path = dot-config/tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
