# Since $ANDROID_USER_HOME doesn't work
# 1. Create softlink ~/.config/dot-android -> ~/.android
# 2. Ignore 'cache', 'avd' and 'metrics'
# -- Louis 2024/0920
dot-android/cache/*
dot-android/avd/*
dot-android/metrics/*

# Move 'dot-config/local/' to '.dotfiles' since not
# all apps honor $XDG_DATA_HOME/$XDG_STATE_HOME
dot-local/share/*
dot-local/state/*
