# Ignore what inside directory  
# 1. $XDG_DATA_HOME
# 2. $XDG_STATE_HOME
# 3. $XDG_CACHE_HOME
# since these files are temp and change all the time
# -- Louis 2024/0323
cache/*
local/share/*
local/state/*

# Add cache/avd directory from Android Studio
.android/cache/*
.android/avd/*

# Ignore content in 'yazi/plugins'
yazi/plugins/*

*.log

# For Ubuntu
autostart
dconf
eog
evolution
gnome-control-center
gnome-session
go
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
ibus
nautilus
pulse
[s/S]urfshark
systemd
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
monitors.*
rygel.conf
user-dirs.dirs
user-dirs.locale
tiling-assistant
GNOME-xdg-terminals.list
ubuntu-xdg-terminals.list
xdg-terminals.list
