#[submodule "nvim-scratch"]
#  path = nvim-scratch
#  url = git@github.com:louis-hsu/Neovim-from-scratch.git 
[submodule "nvim-kickstart"]
  path = nvim-kickstart
  url = git@github.com:louis-hsu/kickstart.nvim.git
  branch = master
[submodule "nvim-lazyvim"]
  path = nvim-lazyvim
  url = git@github.com:louis-hsu/LazyVim_starter.git
  branch = main
[submodule "tmux/plugins/nord-tmux"]
  path = tmux/plugins/nord-tmux
  url = git@github.com:louis-hsu/nord-tmux.git
  branch = develop
[submodule "tmux/plugins/tmux-prefix-highlight"]
  path = tmux/plugins/tmux-prefix-highlight
  url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
  branch = master
[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = git@github.com:tmux-plugins/tpm.git
  branch = master
