# Ignore what inside directory  
# 1. $XDG_DATA_HOME
# 2. $XDG_STATE_HOME
# 3. $XDG_CACHE_HOME
# since these files are temp and change all the time
# -- Louis 2024/0323
cache/*
local/share/*
local/state/*

# Ignore nvim* gits which would be handled separately
# 
# After 2nd thought, utilize .gitmodules to faciltate search in the future
#nvim*
