# TW holiday 2020
# Revise from HK holiday -- Louis 20180618
# Revise for 2019 -- Louis 20190217
# Revise for 2020 -- Louis 20190902
# Revise for 2021 -- Louis 20210115
# Revise for 2022 -- Louis 20211222
# Revise for 2023 -- Louis 20221215
# Revise for 2024 and remove previous years -- Louis 20240318

holiday.en-TW1.name=Chinese New Year's Eve
holiday.en-TW1.date=20220131
holiday.en-TW2.name=Chinese New Year
holiday.en-TW2.date=20220201
holiday.en-TW3.name=Chinese New Year
holiday.en-TW3.date=20220202
holiday.en-TW4.name=Chinese New Year
holiday.en-TW4.date=20220203
holiday.en-TW5.name=Chinese New Year
holiday.en-TW5.date=20220204
holiday.en-TW6.name=228 Peace Memorial Day
holiday.en-TW6.date=20220228
holiday.en-TW7.name=Children's Day
holiday.en-TW7.date=20220404
holiday.en-TW8.name=Qing Ming Festival
holiday.en-TW8.date=20220405
holiday.en-TW9.name=Labour Day
holiday.en-TW9.date=20220502
holiday.en-TW10.name=Dragon Boat Festival
holiday.en-TW10.date=20220603
holiday.en-TW11.name=Mid-Autumn Festival
holiday.en-TW11.date=20220909
holiday.en-TW12.name=ROC National Day
holiday.en-TW12.date=20221010

holiday.en-TW13.name=New Year's Day
holiday.en-TW13.date=20230102
holiday.en-TW14.name=Chinese New Year
holiday.en-TW14.date=20230120
holiday.en-TW15.name=Chinese New Year
holiday.en-TW15.date=20230123
holiday.en-TW16.name=Chinese New Year
holiday.en-TW16.date=20230124
holiday.en-TW17.name=Chinese New Year
holiday.en-TW17.date=20230125
holiday.en-TW18.name=Chinese New Year
holiday.en-TW18.date=20230126
holiday.en-TW19.name=Chinese New Year
holiday.en-TW19.date=20230127
holiday.en-TW20.name=228 Peace Memorial Day
holiday.en-TW20.date=20230227
holiday.en-TW21.name=228 Peace Memorial Day
holiday.en-TW21.date=20230228
holiday.en-TW22.name=Children's Day
holiday.en-TW22.date=20230403
holiday.en-TW23.name=Children's Day
holiday.en-TW23.date=20230404
holiday.en-TW24.name=Qing Ming Festival
holiday.en-TW24.date=20230405
holiday.en-TW25.name=Labour Day
holiday.en-TW25.date=20230501
holiday.en-TW26.name=Dragon Boat Festival
holiday.en-TW26.date=20230622
holiday.en-TW27.name=Dragon Boat Festival
holiday.en-TW27.date=20230623
holiday.en-TW28.name=Mid-Autumn Festival
holiday.en-TW28.date=20230929
holiday.en-TW29.name=ROC National Day
holiday.en-TW29.date=20231009
holiday.en-TW30.name=ROC National Day
holiday.en-TW30.date=20231010

holiday.en-TW31.name=New Year's Day
holiday.en-TW31.date=20240101
holiday.en-TW32.name=Chinese New Year
holiday.en-TW32.date=20240208
holiday.en-TW33.name=Chinese New Year's Eve
holiday.en-TW33.date=20240209
holiday.en-TW34.name=Chinese New Year
holiday.en-TW34.date=20240210
holiday.en-TW35.name=Chinese New Year
holiday.en-TW35.date=20240211
holiday.en-TW36.name=Chinese New Year
holiday.en-TW36.date=20240212
holiday.en-TW37.name=Chinese New Year
holiday.en-TW37.date=20240213
holiday.en-TW38.name=Chinese New Year
holiday.en-TW38.date=20240214
holiday.en-TW39.name=Children's Day
holiday.en-TW39.date=20240404
holiday.en-TW40.name=Qing Ming Festival
holiday.en-TW40.date=20240405
holiday.en-TW41.name=Labour Day
holiday.en-TW41.date=20220502
holiday.en-TW42.name=Dragon Boat Festival
holiday.en-TW42.date=20240610
holiday.en-TW43.name=Mid-Autumn Festival
holiday.en-TW43.date=20240917
holiday.en-TW44.name=ROC National Day
holiday.en-TW44.date=20241010
#holiday.en-TW45.name=
#holiday.en-TW45.date=
#holiday.en-TW46.name=
#holiday.en-TW46.date=
#holiday.en-TW47.name=
#holiday.en-TW47.date=
#holiday.en-TW48.name=
#holiday.en-TW48.date=
#holiday.en-TW49.name=
#holiday.en-TW49.date=
#holiday.en-TW50.name=
#holiday.en-TW50.date=
#holiday.en-TW51.name=
#holiday.en-TW51.date=
#holiday.en-TW52.name=
#holiday.en-TW52.date=
#holiday.en-TW53.name=
#holiday.en-TW53.date=
#holiday.en-TW54.name=
#holiday.en-TW54.date=
#holiday.en-TW55.name=
#holiday.en-TW55.date=
#holiday.en-TW56.name=
#holiday.en-TW56.date=
#holiday.en-TW57.name=
#holiday.en-TW57.date=
#holiday.en-TW58.name=
#holiday.en-TW58.date=
#holiday.en-TW59.name=
#holiday.en-TW59.date=
#holiday.en-TW60.name=
#holiday.en-TW60.date=




